################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/SistemaVenta/v17/.wsuo
/.vs/SistemaVenta/v17/DocumentLayout.json
/Sistema de Ventas/CapaDatos/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/Debug/CapaDatos.csproj.AssemblyReference.cache
/Sistema de Ventas/CapaDatos/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sistema de Ventas/CapaEntidad/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/Debug/CapaEntidad.csproj.AssemblyReference.cache
/Sistema de Ventas/CapaEntidad/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sistema de Ventas/CapaNegocio/obj/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/Debug/CapaNegocio.csproj.AssemblyReference.cache
/Sistema de Ventas/CapaNegocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sistema de Ventas/CapaPresentacion/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Sistema de Ventas/CapaPresentacion/obj/Debug/CapaPresentacion.csproj.AssemblyReference.cache
/Sistema de Ventas/CapaPresentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sistema de Ventas/Solution/.vs/SistemaVenta/FileContentIndex/540f81fd-62e3-404c-a2db-b34fee13f240.vsidx
/Sistema de Ventas/Solution/.vs/SistemaVenta/v17/.suo
/Sistema de Ventas/CapaDatos/.vs/CapaDatos.csproj.dtbcache.json
/Sistema de Ventas/CapaEntidad/.vs/CapaEntidad.csproj.dtbcache.json
/Sistema de Ventas/CapaNegocio/.vs/CapaNegocio.csproj.dtbcache.json
/Sistema de Ventas/CapaPresentacion/.vs/CapaPresentacion.csproj.dtbcache.json
/Sistema de Ventas/Solution/.vs/SistemaVenta/FileContentIndex/1ff44c24-23c3-461f-84f0-f11d1c5f5c8f.vsidx
/.vs/ProjectSettings.json
/.vs/SistemaVenta/FileContentIndex/c1b489de-6455-4421-adf7-dd9a696e5617.vsidx
/.vs/SistemaVenta/FileContentIndex/f5a04a21-2eda-4431-b567-09ad6cb3c283.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Sistema de Ventas/CapaDatos/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/ARM/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/ARM64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/ARM64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/x64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/x86/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaDatos/obj/x86/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/ARM/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/ARM64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/ARM64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/x64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/x86/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaEntidad/obj/x86/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/ARM/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/ARM/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/ARM64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/ARM64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/x64/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/x64/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/x86/Debug/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaNegocio/obj/x86/Release/.NETCore,Version=v5.0.AssemblyAttributes.cs
/Sistema de Ventas/CapaPresentacion/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Sistema de Ventas/CapaPresentacion/obj/Release/CapaPresentacion.csproj.AssemblyReference.cache
/Sistema de Ventas/Solution/.vs/SistemaVenta/v17/DocumentLayout.json
/.vs/SistemaVenta/FileContentIndex/810a7cfa-e551-46fe-808b-f796453bad5a.vsidx
/.vs/SistemaVenta/FileContentIndex/19a3615b-c534-49a8-8922-9f76bf5bad81.vsidx
/.vs/SistemaVenta/FileContentIndex/6c3aebc0-d38f-4a7d-a958-47892ad45ab4.vsidx
/.vs/SistemaVenta/FileContentIndex/eb1b6986-acea-4860-9b37-6811bce2c886.vsidx
/.vs/SistemaVenta/FileContentIndex/20737bd4-8989-42c6-8bd0-f2e889b040e7.vsidx
/.vs/SistemaVenta/FileContentIndex/ac98a0df-66d1-4b34-8736-8939d1461582.vsidx
